* {
    margin:0;
    padding:0;
}
table,tr,tbody,td,thead,th{
    border-color: #666 !important;
    color:#666;
    text-align:center !important;
}
.el-input__inner{
    border-color:#aaa ;
}
/* .el-menu{
    background: rgb(102,158,183);
    color:#fff;
}
.el-menu-item.is-active {
    color: #409EFF;
    background: #fff;
} */
.el-carousel__container{
    height:100%;
}
/* number类型的输入框 */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"] {
  -moz-appearance: textfield;
}

/* 滑条 */
*::-webkit-scrollbar {
    width:8px;
    height:10px;
}
*::-webkit-scrollbar-button    {
    background:rgb(209, 209, 209);
}
*::-webkit-scrollbar-track     {
    background:rgb(209, 209, 209);
}

*::-webkit-scrollbar-thumb{
    background:rgba(238, 238, 238, 0.897);
}

*::-webkit-scrollbar-thumb:hover{
    background:rgba(240, 240, 240, 0.897);
}

*::-webkit-scrollbar-corner {
    background:rgb(209, 209, 209);
}
*::-webkit-scrollbar-resizer  {
    background:rgb(209, 209, 209);
}